.App-container {
  padding: 0;
}
.Container {
  text-align: center;
}
.Border {
  border: 1px solid black;
}
.Divider {
  border-top: 1px solid lightgray;
}
.Cards {
  text-align: center;
  align-items: center;
  justify-content: center;
  max-height: 150px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.Cards-img {
  position: relative;
  justify-self: center;
  overflow-x: hidden;
  object-fit: cover;
  border-radius: 5px;
}
.Cards-img-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.404);
}
.Cards-link {
  text-decoration: none;
  color:white;
}
.Cards-link:hover {
  color: white;
}
.Cards-text {
  margin-top: 2rem;
}
.Footer-div {
  background-color: black;
  color: white;
  padding: 2rem;
}
.Footer-navbar {
  background-color: black!important;
}
.Footer-contact-text {
  white-space: nowrap;
}
.Footer-icon {
  color: green;
}
.Footer-link {
  color:white;
  margin-right: 1rem;
  text-decoration: none;
}
.Footer-link:active {
  color:white;
}
.Footer-link:hover {
  color:green;
}

.Form-button {
  background-color: green;
}
.Jumbo-div {  
  text-align: center;
}
.Jumbo-text {
  color:white;
  font-size: 2rem;
  margin-top: 10vh;
}
.Jumbo-button {
  margin-top: 0.75rem;
}
.Language-bar {
  background-color: green;
  justify-content:flex-end;
  padding-right: 1rem;
  width: 100%;
}
.Language-bar-div {
  background-color: green;
}
.News-div {
  background-color: rgb(216, 227, 240);
  text-align: start;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.News-card {
  width: 18rem;
  padding-bottom: 1rem;
}
.News-card-text {
  font-size: 1.25rem;
  font-weight: bold;
}
.News-card-date {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  color:grey;
  font-variant: small-caps;
}
.News-card-link {
  text-decoration: none;
  color: inherit;
}
.News-card-link:hover {
  color:green;
}
.Newsletter-div {
  text-align: center;
  padding: 4rem 3rem 4rem 3rem;
}
.Newsletter-success {
  margin-bottom: 0.5rem;
  border: 1px solid green;
  border-radius: 3px;
  color: white;
  background-color: green;
}
.Newsletter-error {
  margin-bottom: 0.5rem;
  border: 1px solid orangered;
  border-radius: 3px;
  color: white;
  background-color: orangered;
}
.References-container {
  padding: 2rem 0 4rem 0;
}
.References-card {
  height: 380px;
  max-width: 230px;
  min-width: 230px;
  text-align: center;
  margin-bottom: 2rem;
}
.References-card-image {
  align-self: center;
  max-width: 200px;
  height: auto;
  overflow: hidden;
}
.References-card-image-div {
  height: 140px;
  text-align: center;
}
.References-card-text-div {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Statistics-icon-col {
  text-align: end;
}
.Statistics-text-col {
  text-align: start;
}
.Statistics-div {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  offset: -1rem;
}
.Statistics-icon {
  color: green;
}
.Statistics-number {
  font-size: 2rem;
  color: black;
}
