.App-container {
  padding: 0;
}
.Container {
  text-align: center;
}
.Border {
  border: 1px solid black;
}
.Cards {
  text-align: center;
  align-items: center;
  justify-content: center;
  max-height: 150px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.Cards-img {
  position: relative;
  justify-self: center;
  overflow-x: hidden;
  object-fit: cover;
  border-radius: 5px;
}
.Cards-img-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.404);
}
.Cards-link {
  text-decoration: none;
  color:white;
}
.Cards-link:hover {
  color: white;
}
.Cards-text {
  margin-top: 2rem;
}
.Footer-div {
  background-color: black;
  color: white;
  padding: 2rem;
}
.Footer-icon {
  color: green;
}
.Footer-link {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}
.Footer-link:hover {
  color:green;
}
.Language-bar {
  background-color: green;
  justify-content:flex-end;
  padding-right: 1rem;
  width: 100%;
}
.Form-button {
  background-color: green;
}
.Jumbo-div {  
  text-align: center;
}
.Jumbo-text {
  position:relative;
  top: 40%;
  color:white;
  font-size: 2rem;
}
.Jumbo-button {
  position: relative;
  top:45%;
}
.News-div {
  background-color: rgb(216, 227, 240);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.Newsletter-div {
  text-align: center;
  padding: 2rem 3rem 2rem 3rem;
}
.Newsletter-success {
  margin-bottom: 0.5rem;
  border: 1px solid green;
  border-radius: 3px;
  color: white;
  background-color: green;
}
.Newsletter-error {
  margin-bottom: 0.5rem;
  border: 1px solid orangered;
  border-radius: 3px;
  color: white;
  background-color: orangered;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animated numbers */
@property --clients {
  syntax: "<integer>";
  initial-value: 3000;
  inherits: false;
}
@property --employees {
  syntax: "<integer>";
  initial-value: 180;
  inherits: false;
}
@property --users {
  syntax: "<integer>";
  initial-value: 10000;
  inherits: false;
}
.Statistics-icon-col {
  text-align: end;
}
.Statistics-text-col {
  text-align: start;
}
.Statistics-div {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  offset: -1rem;
}
.Statistics-icon {
  margin-top: 1rem;
  color: green;
}
.Statistics-number {
  font-size: 2rem;
  color: green;
}
.Statistics-clients {
  animation: countClients 2s 1 ease-in-out;
  counter-reset: clients var(--clients);
}
.Statistics-clients::after {
  content: counter(clients);
}
.Statistics-employees {
  animation: countEmployees 1s 1 ease-in-out;
  counter-reset: employees var(--employees);
}
.Statistics-employees::after {
  content: counter(employees);
}
.Statistics-users {
  animation: countUsers 3s 1 ease-in-out;
  counter-reset: users var(--users);
}
.Statistics-users::after {
  content: counter(users);
}

@keyframes countClients {
  from {
    --clients: 0;
  }
  to {
    --clients: 3000;
  }
}
@keyframes countEmployees {
  from {
    --employees: 0;
  }
  to {
    --employees: 180;
  }
}
@keyframes countUsers {
  from {
    --users: 0;
  }
  to {
    --users: 10000;
  }
}
